.login-card {
    height: max-content;
    width: 600px;
    margin-top: 10%;
    color: pink;
    border-radius: 20px;
    animation: change-background 2s ease forwards ;
    box-shadow: 2px 2px 30px whitesmoke;
}

@keyframes change-background {
    0% {
      background: #69b7eb;
    }
    50% {
      background: #b3dbd3;
    }
    100% {
      background: #5FFBF1;
    }
  }
